* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

input:focus {
  background-color: transparent;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
table th,
table td {
  text-align: center;
  padding: 10px;
}
table th {
  background-color: rgba(82, 168, 236, 0.8);
  color: white;
}
table tr:nth-child(even) {
  background: #f5f5f5;
}
table td:not(:last-child) {
  border-right: 1px solid #ccc;
}

.form {
  margin-right: 15%;
}
input {
  border-radius: 8px;
  padding: 4px;
}
.item {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  margin: 50px;
}
.items {
  clear: both;
  text-align: right;
  margin-bottom: 10px;
}
label {
  padding-right: 10px;
}
.sortSportBox {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  margin: 50px;
}
.submit {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  border-radius: 4px;
  color: #555555;
  width: 120px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  margin: 20px auto;
  margin-bottom: 10px;
  padding: 4px 6px;
}
.submit:hover,
.submit:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}
